body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
#box{
    width: 20rem;
    background-color: green;
    font-size: 25px;
    color: aliceblue;
    text-align: center;
    
}